form {
    color: red;
}

input {
    width: 180px;
}

p {
    font-style: italic;
}

input[type="submit"]{
    background: #aa4300;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

input[type="submit"]:hover,
input[type="submit"]:active{
    background: #fff;
    color: #aa4300;
}

select {
    margin-top: 10px;
}